src/**
tests/**
scripts/**
.github/**
.vscode/**
.test/**
artifacts/**
node_modules/**
tsconfig.json
build.mjs
package-lock.json
*.vsix
**/*.map
.gitignore
PUBLISHING.md
CONTRIBUTING.md
assets/*.svg
!assets/activity-bar.svg
